*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.text-center {
    text-align: center;
}

.healthbar {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, .2);
    transition: width 500ms;
    border-radius: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.healthbar__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    background-color: green; 
    -webkit-transition: all 300ms ease-out;
    transition:         all 300ms ease-out;
    margin: 0; 
    color: white;
}

.healthbar__number {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls, .log {
    margin-top: 30px;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    background-color: white;
}

.turn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.log ul {
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
}

.log ul li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.log ul .player-turn {
    color: blue;
    background-color: #e4e8ff;
}

.log ul .monster-turn {
    color: red;
    background-color: #ffc0c1;
}

button {
    font-size: 14px;
    padding: 12px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    margin: 10px;
    color: #333;
    font-weight: bold;
}

button[disabled] {
    opacity: .1;
}

#start-game {
    background-color: #aaffb0;

}

#start-game:hover {
    background-color: #76ff7e;
}

#attack {
    background-color: #ff7367;
}

#attack:hover {
    background-color: #ff3f43;
}

#special-attack {
    background-color: #ffaf4f;
}

#special-attack:hover {
    background-color: #ff9a2b;
}

#heal {
    background-color: #aaffb0;
}

#heal:hover {
    background-color: #76ff7e;
}

#give-up {
    background-color: #ffffff;
}

#give-up:hover {
    background-color: #c7c7c7;
}

.battle-log {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.battle-log-list {
    overflow-y: scroll;
    height: 400px;
}

.battle-log-list::-webkit-scrollbar { width: 0 !important }

.gameover {
    color: red;
    margin-bottom: 0;
}

@media (max-width: 600px) {

    body {
        padding: 15px;
    }

    h1 {
        font-size: 1rem;
    }

    button {
        display: block;
        width: 80%;
        margin: 10px auto;
    }

    li {
        font-size: 14px;
    }

    .log {
        height: 300px;
    }

}